<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="divLogin">
        <% if (user) { %>
        <h1><%= user.name %></h1>
        <% } else { %>
        <h1><a href="/login">Login</a></h1>
        <% } %>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/add">Add Meal</a></li>
          <li><a href="/myRes">My Recipes</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="newMeal">
        <h1>New Meals</h1>
      </div>
      <div class="seeRecipeDiv">
        <h1>Meals</h1>
      </div>
    </main>
  </body>
</html>
